.container {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;

    .landingScreen {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        height: auto;
        justify-content: center;
        align-items: center;

        .insideLandingScreen {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;
            padding: 8em;

            h1 {
                font-size: 120pt;
                line-height: 160px;
                color: #ff0077;
                text-decoration: none;
                font-weight: 700;
            }

            p {
                font-size: 17pt;
                text-align: center;
                font-weight: 300;

                span {
                    color: #ff0077;
                    font-weight: 700;
                }
            }
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 35%;
        height: 100%;
        gap: 1em;
        padding: 0 1em;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;

        .insideContent {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            gap: 1em;
            padding: 8em 0;
            justify-content: center;
            align-items: left;

            h1 {
                font-size: 30pt;
                font-weight: 400;
                text-align: left;

                span {
                    font-weight: 600;
                }
            }

            form {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: fit-content;
                height: fit-content;
                gap: .8em;

                label {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: .2em;

                    p {
                        font-size: 15pt;
                        font-weight: 400;
                    }

                    input {
                        font-size: 12pt;
                        padding: .2em;
                        background-color: transparent;
                        border-radius: 10px;
                        border: none;
                        width: 400px;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                        background-color: rgb(215, 225, 238);
                        padding: .7em 1em;
                    }
                }

                button {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    background-color: #2db370;
                    border: none;
                    font-weight: 600;
                    font-size: 12pt;
                    border-radius: 10px;
                    padding: .5em 2em;
                    color: #fff;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    &:disabled {
                        opacity: .5;
                        cursor: no-drop;

                        svg {
                            animation: rotate 2s linear infinite;
                        }

                        @keyframes rotate {
                            from {
                                transform: rotate(0deg);
                            }

                            to {
                                transform: rotate(360deg);
                            }
                        }
                    }

                    svg {
                        font-size: 18pt;
                    }
                }
            }

            .error{
                position: relative;
                display: flex;
                width: fit-content;
                font-size: 12pt;
                font-weight: 500;
                gap: 5px;
                align-items: center;
                justify-content: center;
                color: red;
            }

            .actions {
                position: relative;
                display: flex;
                width: fit-content;
                height: fit-content;
                margin-top: 1em;

                a {
                    color: inherit;
                    text-decoration: none;
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    background-color: #5627ff;
                    border: none;
                    font-weight: 600;
                    font-size: 12pt;
                    border-radius: 10px;
                    padding: .5em 2em;
                    color: #fff;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    svg {
                        font-size: 18pt;
                    }
                }
            }
        }

        .newUser {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            padding: 2em;
            justify-content: center;
            align-items: center;
            gap: .2em;

            p {
                font-size: 14pt;
            }

            a {
                color: inherit;
                text-decoration: none;
                position: relative;
                display: flex;
                width: fit-content;
                height: fit-content;
                background-color: #5627ff;
                border: none;
                font-weight: 600;
                font-size: 12pt;
                border-radius: 10px;
                padding: .5em 2em;
                color: #fff;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                gap: 5px;

                svg {
                    font-size: 18pt;
                }
            }
        }
    }
}