.mainContainer {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;

    .posts {
        position: relative;
        display: flex;
        flex: 1 1 53%;
        height: 100%;
        min-height: 100vh;

        .insidePosts {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 1.2em;

            .postsContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                height: fit-content;
                padding: 0 .5em 3em .5em;

                &>div{
                    margin-bottom: 2em;
                }

                .noposts{
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: fit-content;
                    background-color: #fff;
                    padding: 1em;
                    border-radius: 10px;
                    margin-bottom: 1em;

                    p{
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 15pt;
                        font-weight: 500;
                        gap: 5px;
                    }
                }

                .createPostButtonContainer {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: fit-content;
                    margin: 0;

                    button {
                        position: relative;
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        background-color: #5627ff;
                        font-weight: 600;
                        font-size: 12pt;
                        border-radius: 10px;
                        padding: 0.5em 2em;
                        color: #fff;
                        border: none;
                        text-decoration: none;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        svg {
                            font-size: 18pt;
                        }
                    }
                }
            }
        }
    }
}