.addComment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 0.7em;

    textarea {
        width: 100%;
        height: fit-content;
        padding: 0;
        font-size: 12pt;
        min-height: 70px;
        resize: none;
        height: 100%;
        border: none;
    }

    .actions {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        gap: .5em;

        button {
            position: relative;
            display: flex;
            width: fit-content;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: #5627ff;
            border: none;
            font-weight: 600;
            font-size: 12pt;
            border-radius: 10px;
            padding: .5em 2em;
            color: #fff;
            text-decoration: none;

            &.post {
                background-color: #2db370;
            }

            &.cancel {
                background-color: #ff2727;
            }
        }
    }
}