.post {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    padding: .5em 0;

    .profileImage {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;

        .image {
            position: relative;
            display: flex;
            width: fit-content;
            height: fit-content;
            justify-content: center;
            align-items: center;
            padding: 1em 2em;

            img {
                position: relative;
                display: flex;
                width: 90px;
                height: 90px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .content {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        padding: .7em 1em .7em .5em;

        .insideContent {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            height: fit-content;

            a{
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;
                color: inherit;
                text-decoration: none;
            }

            .header {
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;
                justify-content: space-between;

                .userName {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    font-size: 20pt;
                    color: purple;
                    font-weight: 600;
                    cursor: pointer;
                }

                .time {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    color: #9c9c9c;
                }
            }

            .postImage {
                position: relative;
                display: flex;
                width: 100%t;
                height: 600px;
                background-color: blue;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: .5em;
                margin-top: .3em;

                img{
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                }
            }

            .postContent {
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;

                p {
                    font-size: 14pt;
                    gap: 5px;
                }
            }

            .commentsStatus {
                position: relative;
                display: flex;
                width: fit-content;
                height: fit-content;
                padding: .5em 1.5em;
                border-radius: 10px;
                font-size: 10pt;
                margin: 1.5em 0 .5em 0;
                background-color: blueviolet;
                color: #fff;
                cursor: pointer;
                gap: 5px;
                justify-content: center;
                align-items: center;

                svg {
                    font-size: 18pt;
                }
            }

            .comments {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                height: fit-content;
                background-color: #fdf6f6;
                border-radius: 10px;
                margin-bottom: 1em;
                padding: 0 1em 0 0;
                transition: all 1s ease-in-out;
            }
        }
    }
}